In [47]:
#Import Dataset
#===========================================================
import pandas as pd
URL = "../data/interim/healthcare-dataset-stroke-data.csv"
df = pd.read_csv(URL)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [48]:
#transform data in binary
#================================================================================================================================
df['gender'] = df['gender'].replace({"Male":1,"Female":0,"Other":-1})
df = df[df['gender'] != -1]
df['ever_married'] = df['ever_married'].replace({"Yes":1,"No":0})
df['work_type'] = df['work_type'].replace({"Private":1,"Self-employed":2,"children":3,"Govt_job":4,"Never_worked":5})
df['Residence_type'] = df['Residence_type'].replace({"Urban":1,"Rural":0})
df['smoking_status'] = df['smoking_status'].replace({"never smoked":1,"Unknown":0,"formerly smoked":2,"smokes":3})

In [49]:
df.dropna(inplace=True)

In [50]:
#Saving of the transformed dataset
#=====================================================================
df.to_csv("../data/processed/healthcare-dataset-stroke-data-T.csv")